body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    min-height: 100vh;
    max-width: 80%;
    margin: 0 auto;
    display: flex;
    list-style: inside;
}

main {
    max-width: 80%;
    margin: 0 auto 0 auto;
    background-color: antiquewhite;  
    padding: 0 3%;
}

h1 {
    margin: 20px 0;
    font-size: 3em;
    color: rgb(255, 255, 255);
    text-align: center;
    font-weight: 900;
    text-transform: uppercase;
    background-color: red;
}

h2 {
    font-size: 3em;
    color: red;
    text-align: center;
    font-weight: 900;
    margin: 20px 0 20px 0;

}

h3 {
    font-style: italic;
    font-size: 1.5em;
    text-align: center;
    margin: 20px 0 20px 0;

}

.veryImportant {
    color: red;
    font-size: 900;
}

ul {
    list-style: inside;
}

li {
    font-weight: 500;
    margin-left: 3%;
}

ol {
    list-style-type: decimal;
    margin-left: 3%;
}

.important {
    color: red;
}

p {
    margin-bottom: 2em;
}